.card-deck {
  margin-top: 30px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.jumbotron {
  background-size: cover;
  background-position: bottom;
  background-image: url(https://images.wallpaperscraft.com/image/plane_hand_sky_80661_1920x1080.jpg);
}
.jumbotron p{
  color: black;
  margin-bottom: 0px;
  
}
.jumbotron h1 {
  margin-top:30px;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
    
  }
  .jumbotron {
    background-position: center;
  }

}

.featurette-heading .text{
  color: #5698b9;
}
.btn {
  background-color: #5698b9;
  color: white;
}
a {
  color: #5698b9;
}
#title h5{
  color:  #5698b9;
}

.carousel-caption {
  top: 23%;
}
main{
  background-color: #dae4f0;
}
.alert {
  background-color: #335075;
  color: white;
}
.alert a {
  color: #102e3d;
}
.carousel-inner img{
  filter: contrast(.7);
}
